body {
  height: 100vh;
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 50px 0;
}

.container .heroes {
  /* 수평정렬 */
  display: flex;
  /* 화면 크기에 맞게 끊어서 다음줄로 내림 */
  flex-wrap: wrap;
  /* 수평정렬 */
  justify-content: center;
  /* 최대 너비 */
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

.container .heroes .hero {
  width: 80px;
  height: 84px;
  margin: 4px;
  border: 3px solid #fff;
  /* 끝을 둥글게 처리 */
  border-radius: 10px;
  /* border, padding, margin 모두 더한 값이 height, width가 됨 */
  box-sizing: border-box;
  background-color: #555;
  /* 넘치는 부분 자르기 */
  overflow: hidden;
  /* x축으로 -14도 기울이기 */
  transform: skewX(-14deg);
  /* 변환 속도 조절 */
  transition: transform 0.1s, background-color 0.6s;
}
/* 이미지에 마우스 올렸을 경우 */
.container .heroes .hero:hover {
  background-color: #ff9c00;
  /* 클릭시에도 기울어진채로 확대 */
  transform: skewX(-14deg) scale(1.3);
  /* 마우스를 갖다 댄 부분이 가장 위에 보이게 만들기 */
  z-index: 1;
}

.container .heroes .hero .image {
  width: 140%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
  /* 이미지는 기울어지지 않아야 하기 때문에 -14도 된 걸 다시 +14도 해주고 x축으로 -16px만큼 이동 */
  transform: skewX(14deg) translateX(-16px);
}
/* 김찰 특별 옵션 */
.container .heroes .hero:nth-child(18):hover {
  transform: skewX(-14deg) scale(3);
}

.container .heroes .hero:nth-child(1) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero1.png');
}
.container .heroes .hero:nth-child(2) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero2.png');
}
.container .heroes .hero:nth-child(3) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero3.png');
}
.container .heroes .hero:nth-child(4) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero4.png');
}
.container .heroes .hero:nth-child(5) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero5.png');
}
.container .heroes .hero:nth-child(6) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero6.png');
}
.container .heroes .hero:nth-child(7) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero7.png');
}
.container .heroes .hero:nth-child(8) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero8.png');
}
.container .heroes .hero:nth-child(9) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero9.png');
}
.container .heroes .hero:nth-child(10) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero10.png');
}
.container .heroes .hero:nth-child(11) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero11.png');
}
.container .heroes .hero:nth-child(12) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero12.png');
}
.container .heroes .hero:nth-child(13) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero13.png');
}
.container .heroes .hero:nth-child(14) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero14.png');
}
.container .heroes .hero:nth-child(15) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero15.png');
}
.container .heroes .hero:nth-child(16) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero16.png');
}
.container .heroes .hero:nth-child(17) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero17.png');
}
.container .heroes .hero:nth-child(18) .image {
  background-image: url('./bb.jpeg');
}
.container .heroes .hero:nth-child(19) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero19.png');
}
.container .heroes .hero:nth-child(20) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero20.png');
}
.container .heroes .hero:nth-child(21) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero21.png');
}
.container .heroes .hero:nth-child(22) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero22.png');
}
.container .heroes .hero:nth-child(23) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero23.png');
}
.container .heroes .hero:nth-child(24) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero24.png');
}
.container .heroes .hero:nth-child(25) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero25.png');
}
.container .heroes .hero:nth-child(26) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero26.png');
}
.container .heroes .hero:nth-child(27) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero27.png');
}
.container .heroes .hero:nth-child(28) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero28.png');
}
.container .heroes .hero:nth-child(29) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero29.png');
}
.container .heroes .hero:nth-child(30) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero30.png');
}
.container .heroes .hero:nth-child(31) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero31.png');
}
.container .heroes .hero:nth-child(32) .image {
  background-image: url('https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero32.png');
}

.container .logo {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}
.container .logo img {
  width: 100%;
}
